* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos navbar*/
.color_navbar {
  background-color: #00b7fa;
}

/*Estilos generales*/
body {
  background-color: #e3f2fd;
}

/*Estilos de las cards*/
.color-card {
  background-color: #e4fff9;
}

/*Estilos del footer*/

.foot {
  background-color: #00b7fa;
}

.foot .texto {
  color: black;
}

.foot .textoa {
  color: black;
}

/* Estilos carrito nav*/
ul {
  list-style: none;
}

.submenu {
  position: relative;
}

.submenu #carritoMenu {
  display: none;
}

.submenu:hover #carritoMenu {
  display: block;
  position: absolute;
  right: 0;

  top: 100%;
  z-index: 1;
  background-color: #e4fff9;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}
/*
.card-body {
  text-align: center;
}

.img-card {
  width: 200px;
  height: 200px;
}
.card .img-card {
  max-width: 200px;
  max-height: 200px;
}

.card {
  align-items: center;
  height: 500px;
}

*/
